<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>konrad kur - full-stack developer</title>
    <link href="/home/konrad/Publiczny/workspace/free-cv-templates-boostrap-v4/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/home/konrad/Publiczny/workspace/free-cv-templates-boostrap-v4/static/devicon/devicon.min.css" rel="stylesheet">
    <link href="/home/konrad/Publiczny/workspace/free-cv-templates-boostrap-v4/static/css/cv_templates_01_software_developer.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1 class="lowercase"><strong>konrad kur</strong></h1>
      <h2 class="lowercase">full-stack developer</h2>
      <ul class="skill-icons text-center">
            <li class="cbp-ig-icon devicon-python-plain"></li>
            <li class="cbp-ig-icon devicon-php-plain"></li>
            <li class="cbp-ig-icon devicon-javascript-plain"></li>
            <li class="cbp-ig-icon devicon-html5-plain"></li>
            <li class="cbp-ig-icon devicon-sass-original"></li>
            <li class="cbp-ig-icon devicon-postgresql-plain"></li>
            <li class="cbp-ig-icon devicon-mysql-plain"></li>
            <li class="cbp-ig-icon devicon-linux-plain"></li>
            <li class="cbp-ig-icon devicon-vim-plain"></li>
      </ul>
        <p class="lowercase cv-title">
            konrad.kur@gmail.com<br />
            stargard, poland<br />
            tel. +48 ‭572 598 320‬<br />
            <a href="http://kurkonrad.github.io/summary/">http://kurkonrad.github.io/summary/</a>
        </p><hr />







        <p class="lowercase cv-title">
            <strong>experience</strong><br /><br />

            CTO<br />
            <strong>jamnasoftware.pl</strong> | 01-04-2018 - obecnie<br />
            <span class="text-muted lowercase cv-content">
                work for: Ministerstwo Rozwoju i Przedsiębiorczności Przedsiębiorczości, IAI S.A., pAudio Technologies Sp. z o.o., zumax.co Sp. z o.o., glamlin.se, 2late4sleep LTD, ISO TRADE, Asseco Data Systems S.A., private investors<br />
                use: Python 3 modern sytnax, Django, Flask, open api 3.0, git, selenium, scrapy, soap, rest, http, gui, windows, linux, vuejs, extjs, docker, kong, kubernetes, boostrap4, continuous integration, voice-analysis, mysql, postgresql, mssql, ansible
                <br />
            </span>
        </p>



        <p class="lowercase cv-title">
            architect solutions / full-stack developer / project manager<br />
            <strong>self-employed</strong> | 01-01-2010 - today<br />
            <span class="text-muted lowercase cv-content">private sector, web-car.com<br />use: python 2, extjs 5, angular, etl, cassandra, postgresql, mysql, gps, git<br />more information after first contact</span>
        </p>
        <p class="lowercase cv-title">
            senior frontend developer/consultant<br />
            <strong>asseco data systems s.a.</strong> | 01-12-2017 - 01-04-2018<br />
            <span class="text-muted lowercase cv-content">public sector, krus<br />use: extjs 4, maven, api, enterprise architect, svn, oracle database, java ee, spring</span>
        </p>
        <p class="lowercase cv-title">
            cto / team leader<br />
            <strong>clover sp. z o.o.</strong> | 01-05-2014 - 01-08-2015<br />
            <span class="text-muted lowercase cv-content">more information after first contact</span>
        </p>
        <p class="lowercase cv-title">
            architect / senior python developer<br />
            <strong>bluesoft sp. z o.o.</strong> | 01-01-2014 - 01-05-2014<br />
            <span class="text-muted lowercase cv-content">private sector, ipko.pl<br />use: python 2, selenium, git, js, api</span>
        </p>
        <p class="lowercase cv-title">
            software developer<br />
            <strong>uniezto technologies s.a.</strong> | 01-05-2012 - 01-01-2014<br />
            <span class="text-muted lowercase cv-content">public sector, krus/gis mazowsze/rządowe centrum legislacji<br />use: extjs 4, maven, api, enterprise architect, svn, oracle database, java ee, spring, python 2, reportlab, rml, gis</span>        </p><hr />
        <p class="lowercase cv-title">
            <strong>main skills</strong><br /><br />
            <span class="text-muted lowercase cv-content">python, javascript, django, flask, http,
                    postgresql, extjs, qt4, algorithms, linux, vim</span>
        </p><hr />
          <p class="text-muted lowercase cv-content">
            feel free to contact me
          </p>
    </div>
  </body>
</html>
