<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="/home/jamna-software/Pulpit/free-cv-templates-boostrap-v4
/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet" type="text/css">

    <link href="/home/jamna-software/Pulpit/free-cv-templates-boostrap-v4
/static/css/glinek.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
    <div class="row">

        <div class="col-8">


      <h1 class="uppercase"><strong>Olaf Pawłowski</strong></h1>
      <ul class="skill-icons text-left">
            <li><i class="fas fa-file-word"></i></li>
            <li><i class="fas fa-file-excel"></i></li>
            <li><i class="fab fa-windows"></i></li>
            <li><i class="fas fa-car"></i></li>
            <li><i class="fas fa-mail-bulk"></i></li>
            <li><i class="fas fa-smile"></i></li>
      </ul>
        <p class="lowercase cv-title">
            olaf.pawlowski@hiab.com<br />
            stargard, poland<br />
            tel. +48 503 988 965
        </p>
    </div>
    <div class="col-4 text-right">

    </div>
</div>
        <hr />
        <p class="lowercase cv-title">
            <strong style="font-size:18px;">DOŚWIADCZENIE</strong>        <hr />

            Hiab MAU Stargard<br />
            Lider zespołu<br /><span style="font-size:12px;">01-2019 - obecnie</span>
            <ul>
                <li class="lowercase">zarządzanie i koordynowanie działań 16-to osobowego zespołu</li>
                <li class="lowercase">wprowadzanie usprawnień i eliminowanie mud</li>
                <li class="lowercase">praca z tablicą i plikami zarządzania codziennego</li>
                <li class="lowercase">praca ze wskaźnikami KPI wraz z wdrażaniem akcji korygujących do przekroczeń</li>
                <li class="lowercase">nadzór i realizacja różnych projektów wewnątrzzakładowych</li>
                <li class="lowercase">audyty BHP (uczestnisctwo, planowanie akcji korygujących i zapobiegawczych)</li>
                <li class="lowercase">wdrażanie 5S na podległym obszarze</li>
                <li class="lowercase">pomiary oraz analiza czasów pracy i wydajności </li>
                <li class="lowercase">nadzór nad prawidłowym przebiegiem procesów magazynowych</li>
                <li class="lowercase">współpraca z różnymi działami wewnątrzzakładowymi</li>
                <li class="lowercase">praca na systemie ERP</li>

            </ul>
        </p>
        <hr />

        <p class="lowercase cv-title">
            Hiab MAU Stargard<br />
            Technik magazynu<br /><span style="font-size:12px;">09-2017 - 12.2018</span>
            <ul>
                <li class="lowercase">praca z systemem w szerokim zakresie m.in. korekt stanów, szkolenie nowych pracowników, pełnienie obowiązków lidera zespołu w razie jego nieobecności</li>

            </ul>
        </p>
        <hr />

        <p class="lowercase cv-title">
            Hiab MAU Stargard<br />
            Magazynier specjalista<br /><span style="font-size:12px;">10-2014 - 08.2017</span>
            <ul>
                <li class="lowercase">praca z systemem Infor LN w zakresie przyjęcia towaru, wyjaśniania rozbieżności.</li>
            </ul>
        </p>
        <hr />

        <p class="lowercase cv-title">
            Hiab MAU Stargard<br />
            Magazynier<br /><span style="font-size:12px;">09-2013 - 10.2014</span>
            <ul>
                <li class="lowercase"> głównie dział przyjęć - rozładunek, przyjęcie, obrót towarem, załadunek wyrobów gotowych.</li>
            </ul>
        </p>
        <hr />





        <p class="lowercase cv-title">
            Globo Service Szczecin<br />
            Magazynier<br /><span style="font-size:12px;">04-2012 - 07.2012</span>
        </p>
        <hr />


        <p class="lowercase cv-title">
            Jumbo Supermarkten w Veghel (Holandia)<br />
            Magazynier<br /><span style="font-size:12px;">05-2011 - 08.2011</span>
        </p>
        <hr />

        <p class="lowercase cv-title">
            Przygotowanie i realizacja różnego rodzaju badań socjologicznych na zlecenie Uniwersytetu Szczecińskiego (w ramach zajęć praktycznych)<br /><span style="font-size:12px;">2008 - 2010</span>
        </p>

        <p class="lowercase cv-title">
            <hr />

            <strong style="font-size:18px;">UMIEJĘTNOŚCI</strong>
            <hr />

            <ul>
                <li class="lowercase">Obsługa komputera (Windows, Internet, Ms Office)</li>
                <li class="lowercase">Prawo jazdy kat.</li>
                <li class="lowercase">Umiejętność pracy w zespole</li>
                <li class="lowercase">Dyspozycyjność, punktualność i odpowiedzialność</li>
                <li class="lowercase">Szybkie przyswajanie informacji i nabywanie umiejętności</li>
            </ul>
        </p>

<br /><br />
<br />

        <p class="lowercase cv-title">
                <hr />

            <strong style="font-size:18px;">JĘZYKI</strong>
            <hr />

            <ul>
                <li class="lowercase">Język angielski – w stopniu średnio zaawansowanym, komunikatywnym</li>
                <li class="lowercase">Język niemiecki – w stopniu podstawowym</li>
            </ul>
        </p>

        <p class="lowercase cv-title">
            <hr />

            <strong style="font-size:18px;">ZAINTERESOWANIA</strong>
                        <hr />
            <span class="lowercase">muzyka, podróże, motoryzacja, sport</span>
        </p>
    </div>
  </body>
</html>
