<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="/home/konrad/Publiczny/workspace/free-cv-templates-boostrap-v4/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <link href="/home/konrad/Publiczny/workspace/free-cv-templates-boostrap-v4/static/css/glinek.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
    <div class="row">

        <div class="col-8">


      <h1 class="uppercase"><strong>Krystian Glinka</strong></h1>
      <ul class="skill-icons text-left">
            <li><i class="fas fa-file-word"></i></li>
            <li><i class="fas fa-file-excel"></i></li>
            <li><i class="fab fa-windows"></i></li>
            <li><i class="fas fa-car"></i></li>
            <li><i class="fas fa-mail-bulk"></i></li>
            <li><i class="fas fa-smile"></i></li>
      </ul>
        <p class="lowercase cv-title">
            krystianglinka@gmail.com<br />
            stargard, poland<br />
            tel. +48 ‭731 871 651
        </p>
    </div>
    <div class="col-4 text-right">
        <img src="/home/konrad/Publiczny/workspace/free-cv-templates-boostrap-v4/static/aaa.jpg" width="160" />
    </div>
</div>

        <hr />
        <p class="lowercase cv-title">
            <strong style="font-size:18px;">DOŚWIADCZENIE</strong><br /><br />
            CUBIC POLSKA<br />
            <strong>Technik malarni</strong><br /><span style="font-size:12px;">01-2019 - obecnie</span>
            <ul>
                <li class="lowercase">montaż produktów</li>
                <li class="lowercase">weryfikowanie jakośći produktów</li>
                <li class="lowercase">biężący serwis malarni</li>
                <li class="lowercase">malowanie elementów</li>
                <li class="lowercase">prowadzenia szkoleń dla kadry pracowniczej w kraju oraz w Danii</li>
            </ul>
        </p>






        <p class="lowercase cv-title">
            Klippan Safety Polska<br />
            <strong>Operator komputera maszyn CNC</strong><br /><span style="font-size:12px;">03-2015 - 12-2018</span>
            <ul>
                <li class="lowercase">obsługa maszyn, ustawianie maszyn</li>
                <li class="lowercase">rozładunek i załadunek towaru przy pomocy wózka widłowego elektrycznego</li>
                <li class="lowercase">wprowadzanie korekt, ustawianie parametrów</li>
                <li class="lowercase">kontrolowanie na bieżąco wykonywanej pracy</li>
            </ul>
        </p>

        <p class="lowercase cv-title">
            BLACK RED WHITE Stargard<br />
            <strong>Magazynier</strong><br /><span style="font-size:12px;">11-2014 - 02-2015</span>
            <ul>
                <li class="lowercase">dbanie o ekspozycje sklepowe</li>
                <li class="lowercase">serwis elementów elektrycznych, hydraulicznych i drewnianych</li>
                <li class="lowercase">montaż mebli</li>
                <li class="lowercase">bieżąca obsługa magazynu</li>
                <li class="lowercase">nadzór nad dokumentacją magazynową</li>
            </ul>
        </p>


        <p class="lowercase cv-title">
            J.W SYSTEM<br />
            <strong>Monter konstrukcji elektrycznych i hydraulicznych</strong><br /><span style="font-size:12px;">04-2008 - 04-2009</span>
            <ul>
                <li class="lowercase">montaż elementów stalowych, elektrycznych i hydraulicznych</li>
                <li class="lowercase">nadzór nad przebiegiem montażu</li>
            </ul>
        </p>


        <p class="lowercase cv-title">
            TAL-POS Stargard<br />
            <strong>Renowator – Monter konstrukcji stalowych i drewnianych</strong><br /><span style="font-size:12px;">08-2007 - 03-2008</span>
            <ul>
                <li class="lowercase">renowacja mebli antycznych i współczesnych</li>
                <li class="lowercase">montaż elementów drewnianych i stalowych</li>
            </ul>
        </p>


        <hr />
        <p class="lowercase cv-title">
            <strong style="font-size:18px;">UMIEJĘTNOŚCI</strong>
            <ul>
                <li class="lowercase">prawo jazdy kat. B</li>
                <li class="lowercase">kurs Operator maszyn CNC</li>
                <li class="lowercase">uprawnienia SEP 1KV</li>
                <li class="lowercase">uprawnienia na obsługę suwnicy oraz żurawia z poziomu roboczego</li>
                <li class="lowercase">uprawnienia na wózki widłowe z wymianą butli gazowej</li>
                <li class="lowercase">uprawnienia do pracy powyżej 3 metrów</li>
                <li class="lowercase">znajomość rysunku technicznego, obsługi komputera</li>
            </ul>
        </p>
        <hr />
        <p class="lowercase cv-title">
            <strong style="font-size:18px;">JĘZYKI</strong>
            <ul>
                <li class="lowercase">j. angielski – dobra znajomość w mowie i piśmie</li>
                <li class="lowercase">j. niemiecki - podstawowa znajomość w mowie i czytaniu</li>
            </ul>
        </p>
        <hr />
        <p class="lowercase cv-title">
            <strong style="font-size:18px;">ZAINTERESOWANIA</strong><br />
            sport, muzyka, motoryzacja, filmy, breakdance, podróże
        </p>
    </div>
  </body>
</html>
